*{
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
*:focus, *:active {
    outline: none;
}
body, html{
	margin: 0px !important;
	padding: 0px !important;
	font-family: "Helvetica";
}
button{
	  border-radius: 1vmin;
	  padding: 3.5vmin 3vmax;
	  font-size: 1.7vmax;
	  line-height: 2vmax;
	  box-sizing: border-box;
		background-color: #ffde93;
		border: 0;
}
input[type='text'], input[type='password']{
  border-radius: 1vmin;
  padding: 3.5vmin 3vmax;
  font-size: 1.7vmax;
  line-height: 2vmax;
  box-sizing: border-box;
  border: 1px solid rgb(188, 188, 188);
  background-color: rgba(255, 255, 255, 0.99);
}
input[type='text']:focus, input[type='password']:focus{
	border: 1px solid rgb(255, 64, 129);
	box-shadow: 0px 0px 5px rgba(255, 64, 129, 0.8);
}
