<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.landtanin.hitchhacker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-library android:name="com.google.android.maps"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBjVO3eaX1ckpZ5WBaNcX0EwYBzKDalgrU"/>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".EnterDetailActivity">
        </activity>
        <activity android:name=".driverOrHitchActivity">
        </activity>
        <activity android:name=".Driver.DriverSettingActivity">
        </activity>
        <activity android:name=".HitchHiker.HitchHikePreferenceActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".HitchHiker.RecordVoiceActivity">
        </activity>
        <activity android:name=".HitchHiker.RecordVoice2">
        </activity>
    </application>

</manifest>